@import url('https://fonts.googleapis.com/css?family=Bad+Script&display=swap');

body{
	background-image: url("uic.jpg");
	background-size: 100%;
}
.header{
	padding: 5px 5px 5px 5px;
}
.container{
	background-color: #F07D9D;
	height: 100px;
	width: auto;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.container img{
	height: 70px;
	width: 70px;
	margin-top: 15px;
	margin-left: 15px;
	position: absolute;
}

.title{
	position: absolute;
	margin-left: 100px;
	margin-top: 5px;
	font-family: 'Bad Script', cursive;
	color: #E30179;
	text-shadow: 5px;
	font-size: 15px;
}

.title2{
	position: absolute;
	margin-left: 190px;
	margin-top: 20px;
	font-family: Gill Sans MT;
	color: #E30179;
	text-shadow: 5px;
}
.navigation_panel{
	padding: 10px 10px 10px 10px;
}
.container2{
	background-color: rgba(255,255,255,0.8);
	height: auto;
	width: 250px;
	border-radius: 5px;
	border-style: solid;
	border-color: #ECECEC;
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.19);
	padding: 0px 5px 5px 5px;
}
.link_1, .link_2, .link_3, .link_4{
	font-family: Gill Sans MT;
	text-align: center;
	padding: 15px 10px 15px 10px;
	border-bottom: solid;
	border-bottom-color: #FED9ED;
}
.container2 a{
	text-decoration: none;
	color: #E30179;
}
.button1{
	padding: 20px 20px 10px 20px;
	text-align: center;
}
.button1 button{
	border-radius:2px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	background-color: #E7537C;
	border-color: #E7537C;
	font-family: Tw Cen MT;
	color: white;
	font-size: 16px;
	padding: 10px 15px 10px 15px;
	width: 110px;
}

.link_5,.link_6, .info{
	font-family: Gill Sans MT;
	text-align: center;
	padding: 15px 10px 15px 10px;
	border-bottom: solid;
	border-bottom-color: #FED9ED;
}
.button1 a{
	color: white;
}
.account{
	display: none;
}
.info img{
	
}
.main_body{
	padding: 10px 10px 10px 10px;
}
.container3{
	background-color: rgba(255,255,255,0.8);
	height: auto;
	width: 940px;
	border-radius: 5px;
	border-style: solid;
	border-color: #ECECEC;
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.19);
	padding: 10px 10px 10px 10px;
	
}
.master_container{
	display: flex;
}

.hashboard{
	background-color: rgba(255,192,203,0.5)
;
	height: auto;
	width: 800px;
	border-radius: 5px;
	padding: 10px 10px 10px 10px;

	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.hashboard_2nd{
	background-color: rgba(155, 211, 218,0.5);
	height: auto;
	width: 800px;
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
	
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;	
}

.hashboard p, .hashboard_2nd p{
	font-family: Gill Sans MT;
	margin-left: 20px;
}
.hashboard hr, .hashboard_2nd hr{
	background-color: #EE78D9;
	height: 2px;
	border: none;
	border-radius: 2px;
}
.dash-header_elements, .dash-header_elements2{
	display: flex;
}
.dash-header_elements img,.dash-header_elements2 img{
	height: 30px;
	width: 30px;
	margin-left: 20px;
	margin-top: 8px;
}

.wrapper{
	display: flex;
}
.photo img{
	width: 100px;
	height: auto;
	border-radius: 5px;
	border: 5px solid #FFFFFF;
	/* height: 100; width: auto; */
}
.photo{
	margin-left: 25px;
}
ul{
	font-family: Lucida Fax;
	font-size: 10px;
}
#name{
	font-size: 20px;
}
.action_panel{
	padding: 5px 5px 5px 5px;
	margin-left: 15px;
	display: flex;
}
.action_panel a{
	text-decoration: none;
	color: #EE78D9;;
	font-family: Gill Sans MT;
	font-size: 15px;
}
.action_panel img{
	height: 23px;
	width: 23px;
}
.topic_list_column1,.topic_list_column2{
	padding: 5px 5px 5px 5px;

}
.topic_list_column1 a,.topic_list_column2 a{
	text-decoration: none;
	font-family: Gill Sans MT;
	font-size: 15px;
	color: black;
}
.action_panel2 a{
	text-decoration: none;
	color: #EE78D9;
	font-family: Gill Sans MT;
	margin-left: 8px;
}
.column_wrapper{
	display: flex;
}